.alert__notification-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.alert {
display: flex;
justify-content: center;
padding: 8px 35px 8px 14px;
max-width: 50%;
margin-bottom: 18px;
color: #c09853;
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
background-color: #fcf8e3;
border: 1px solid #fbeed5;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.alert-danger,
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
text-align: center;
}

.fa-trash {
  margin-left: 2rem;
  color: red;
}

.description {

	font-size: 3em;
	font-family: 'Josefin Slab', serif;
	-webkit-text-stroke-width: 0.15px;
    -webkit-text-stroke-color: white;
}

.task {
	padding: 1%;
	margin: 0.5%;
	text-align:center;
	@media (max-width: 720px){
		padding: 5%;
	}
}

.buttons {
	float: right;
}

.form {
	text-align:center;
}

.form__submit-btn-wrapper{
	text-align:center;
	margin:2%;
}

.form__submit-btn{
	margin:1%;
	width: 20%;
	font-size: 2em;
	@media (max-width: 720px){
		width: 48%;
	}
}

.form__field-wrapper{
	margin: 1%;
	input {
		width:50%;
		padding:1vh;
		font-size: 2em;
		text-align:center;
	}
	height:50%;
}

.task-input{
	margin: 1%;
	font-size: 2em;
	width: 90%;
}

.task-select {
	margin:1%;
	font-size: 2em;
	@media (max-width: 720px){
		font-size: 1.5em;
		width: 48%;
	}
}

.task-submit {
	margin: 1%;
	font-size: 2em;
	@media (max-width: 720px){
		font-size: 1.5em;
		width: 48%;
	}
}

.task-form {
	text-align: center;
}
